<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>blet, delay.</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div django-app="TaskManager">        
	<div class="container">
            <div class="content">
            <h1>blet, delay.</h1>
            <p class="tagline">blet, delay - a django toDo</p>
            <form action="" method="post">
            {% csrf_token %}
                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="Что,блет,ты, хочешь сделать?" name="description" required>
                    <label for="description">Название проджекта</label>
                </div>
                <div class="inputContainer half last">
                    <i class="fa fa-caret-down selectArrow"></i>
                    <select id="category" class="taskCategory" name="category_select">
                    <option class="disabled" value="">Ну и к чему ты отнесешь эту хрень?</option>
                    {% for category in categories %}
                        <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                    <label for="category">Ну и к чему ты отнесешь эту хрень?</label>
                </div>
                <div class="inputContainer half last right">
                    <input type="date" id="dueDate" class="taskDate" name="date">
                    <label for="dueDate">Окей, каков дедлайн?(и только попробуй ввести его не в формате YYYY-MM-DD)</label>
                </div>
                <div class="row">
                    <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Добавить</button>
                    <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Я СДЕЛАЛ!!!!!!11!</button>
                </div>
            
            
            <ul  class="taskList">
            {% for todo in todos %}
                <li class="taskItem">
                    <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                    <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                    <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
                </li>
            {% endfor %}
            
            
            </ul>
            </form>
            </div>

 </div>
</div>





























</body>
</html>